.login-page {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  background-image: url("./assets/image_accueil.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-form {
  margin-top: 50px;
  background-color: transparent;
  padding: 2rem;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-form input {
  width: 100%;
  padding: 0.6rem;
  border: none;
  background-color: #3b2a1a;
  color: white;
  font-style: italic;
}

.login-form input::placeholder {
  color: #ddd;
  font-style: italic;
}


.login-form button {
  padding: 0.8rem;
  background-color: transparent;
  color: black;
  border: 2px solid transparent; 
  border-radius: 8px;
  cursor: pointer;
  font-style: italic;
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.login-form button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
